@mixin wmax($val) {
  @media only screen and (max-width: $val + "px") {
    @content;
  }
}

@mixin wmin($val) {
  @media only screen and (min-width: $val + "px") {
    @content;
  }
}

%resetButton {
  border: none;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  text-align: inherit;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
  }
}
