$amber: #ffc107;
$orange: #ff9800;
$blue-grey-50: #eceff1;
$blue-grey-100: #cfd8dc;
$blue-grey-200: #b0bec5;
$blue-grey: #607d8b;
$primary: $blue-grey;
$text-color: #000;
$text-color--light: $blue-grey;
$bg-color: #fff;
$bg-color-darken: $blue-grey-50;

$font: 'Roboto', sans-serif;

$em: 0.0625em;
$font-size: 16px;
$line-height: 1.4;

$qm-tablet: 1024;